---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GalleryCard from '../components/GalleryCard.astro';
import { galleryCategories } from '../data/gallery';
---

<BaseLayout 
  title="Playground - Elisha Coad"
  description="A collection of freelance, university, and personal design projects including branding, illustration, and digital design work."
>
  <Header currentPage="playground" />
  <div class="section">
    <div class="w-container">
      <!-- Playground Gallery -->
      <div class="mb-[200px]">
        <div class="hero">
          <h1>Playground</h1>
          <p class="mt-5 mr-[58px] text-2xl font-light leading-[150%]">Here's a miscellaneous collection of <span class="gold">freelance</span>, <span class="gold">university</span>, and <span class="gold">personal</span> projects from the past few years.</p>
        </div>
      </div>
      <div class="w-layout-grid mb-[12vh] grid-cols-1 sm:grid-cols-2">
        {galleryCategories.map(category => (
          <GalleryCard category={category} />
        ))}
      </div>
    </div>
  </div>

  <Footer />
</BaseLayout>
