---
export interface Props {
  emphasis: string;
  source?: string;
}

const { emphasis, source } = Astro.props;
---

<div class="border-l-2 border-[var(--gold)] mt-6 pl-4">
  <p class="text-[var(--gold)] text-xl">"{emphasis}"<br></p>
  {source && <p class="mt-[5px] text-sm italic">— {source}</p>}
</div>
