---
import ContactLinks from './ContactLinks.astro';
---

<div class="footer">
  <div class="w-container">
    <div class="divider"></div>
    <div class="footer-content">
      <ContactLinks variant="footer" />
      <div class="footer-text hide">Copyright of Elisha Coad 2022 ©. All rights reserved.</div>
    </div>
  </div>
</div>
