---
export interface Props {
  currentPage?: string;
}

const { currentPage } = Astro.props;

const navItems = [
  { href: '/', label: 'work', page: 'index' },
  { href: '/playground', label: 'playground', page: 'playground' },
  { href: '/about', label: 'about', page: 'about' }
];
---

<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="header-new w-nav">
  <div class="w-container">
    <div class="header-container">
      <a data-w-id="617845d1-d8d2-5f23-6679-de7c9432da21" href="/" class={`logo mouse-hover-fx w-inline-block ${currentPage === 'index' ? 'w--current' : ''}`}>
        <img src="/images/icons/Monogram-Final_Logo-80px.png" loading="lazy" width="29" alt="" class="img-logo">
        <div data-w-id="617845d1-d8d2-5f23-6679-de7c9432da23" data-is-ix2-target="1" class="lottie-logo" data-animation-type="lottie" data-src="/documents/Logo-OffWhite.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.2022021125046733" data-duration="0"></div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        {navItems.map(item => (
          <a href={item.href} class={`button mouse-hover-fx w-button ${currentPage === item.page ? 'w--current' : ''}`}>
            {item.label}
          </a>
        ))}
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
