---
interface Props {
  title: string;
  skills: string;
}

const { title, skills } = Astro.props;
---

<div class="skills-col w-col w-col-4">
  <div class="skills title">{title}</div>
  <div class="skills" set:html={skills} />
</div>

