---
export interface Props {
  title: string;
  description?: string;
  children?: any;
}

const { title, description, children } = Astro.props;
---

<div class="text-section">
  <h2 class="text-title">{title}</h2>
  {description && <p>{description}<br></p>}
  <slot />
</div>
