---
export interface Props {
  title: string;
  description?: string;
  children?: any;
}

const { title, description, children } = Astro.props;
---

<div class="mt-[120px]">
  <h2 class="-mt-[10px] text-2xl">{title}</h2>
  {description && <p>{description}<br></p>}
  <slot />
</div>
